.modal-containerconfi{
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
}
.modal-containerconfi.show{
    pointer-events: auto;
    opacity: 1;
}

.modalconfi{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}
.whitemodal{
    color: black;
}

.img-modalconfi{
    width: 150px;
    max-width: 100%;
    justify-content: center;
}